body {
  background-color: #333;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
  }
  
  .background {
    height: 100vh;
    
  }
  
  .align-center {
    text-align: center;
  }
  
  .dark {
    background-color: rgba(0,0,0,0.9);
  }
  
  .darkish {
    background-color: rgba(0,0,0,0.8);
  }
  
  .light {
    background-color: rgba(0,0,0,0.6);
  }

  /* Main Area */

  .main-area__button__container {
    height: 50vh;
    position: relative;
  }

  .main-area__button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: white;
    border: 0;
  }

  .main-area__button:focus {
    outline: 0;
  }

  .card__container {
    height: 50vh;
  }

  .card {
    width: 100%;
    border-radius: 9px;
    z-index: 301;
    margin: auto;
    transition: transform 0.5s;
  }

  .card:hover {
      transform: translateX(6%);
  }

  .card__under {
    background-position: top center;
    border-radius: 9px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    margin: auto;
    max-height: 50vh;
  }

  /* Boosters */

  .booster {
      width: 100%;
  }

  /* Pile Stuff */
  
  .pileColumn {
    position: relative;
    overflow: hidden;
  }
  
  .pile {
    width: 85%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    border-radius: 8px 8px 0px 0px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
  }
  
  
  @keyframes enterbounce {
    from {
      transform: scale(1.1, 1.1);
    } to {
      transform: scale(1,1);
    }
  }
  
  .pile__topbar {
    height: 35px;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    background-color: #222;
    color: white;
    text-align: right;
  }
  
  .pile__topbar button {
    margin: 0;
    line-height: 35px;
    background-color: transparent;
    border: 0;
    padding: 0px 10px 0px 10px;
    transition: color 0.2s;
  }

  .pile__topbar__stats {
    margin: 0;
    position: absolute;
    left: 10px;
    top: 0px;
    line-height: 35px;
  }
  
  .pile__topbar button:focus {
    outline: 0;
  }
  
  .pile__topbar button:hover {
    color: red;
  }
  
  .pile__card {
    animation-name: enterbounce;
    animation-duration: 0.5s;
    width: 100%;
    height: 35px;
    border-radius: 8px 8px 0px 0px;
    background: cover;
    background-position: top;
    background-size: cover;
  }
  
  @keyframes fadeInLeft {
    from {
      transform: translateX(-200px);
      opacity: 0;
    } to {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 0.5s;
  }

  /* Stats */

  .stat-box {
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
  }

  .stat-box p {
    font-size: 12px;
    margin-bottom: 0px;
  }

  /* Background */

  .fixed-backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
  }